
<div class="d-flex">
    <div style="width:30%;height:100%" class="ma-2 ">
        left panel lol
    </div>
    <MudDivider Vertical FlexItem />
    <div style="max-height:100%;overflow-y:scroll" class="ma-2 flex-grow-1">
        <WebGLRenderer />
    </div>
</div>

@code {

}
